<form method="post" action="#">
  <wtm-woman></wtm-woman>

  <wtm-greetings [text]="title"></wtm-greetings>

  <!-- email -->
  <wtm-email 
    (focus)="movingEyes($event)" (blur)="resetEyesMouth($event)">
  </wtm-email>

  <!-- password-->
  <wtm-password 
    (click)="activateShowPassword($event)" (input)="showingPassword($event)" (focus)="focusPassword($event)" (blur)="blurPassword($event)">
  </wtm-password>

  <!-- submit-->
  <wtm-submit (submit)="sendForm($event)"></wtm-submit>
  <br /><small>Inspired by <a href="https://codepen.io/alvaromontoro/pen/ePWMEY">Alvaro Montoro & Darin's amazing Pen</a>.</small>
</form>
<footer>
</footer>
