<svg #svg width="250" height="250" viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="title  desc">
  <title id="title">ngGirl</title>
  <desc id="desc">Cartoon of a woman smiling, and wearing black glasses and a purple shirt with white collar.</desc>
  <defs>
    <clipPath id="scene">
      <circle cx="125" cy="125" r="115"/>
    </clipPath>
    <clipPath id="lips">
      <path d="M 106,132 C 113,127 125,128 125,132 125,128 137,127 144,132 141,142  134,146  125,146  116,146 109,142 106,132 Z" />
    </clipPath>
  </defs>
  <g stroke="none" stroke-width="0" clip-path="url(#scene)">
    <rect x="0" y="0" width="250" height="250" fill="#b0d2e5" />
    <svg viewBox="0 0 250 250">
      <svg:g wtm-head />
      <svg:g wtm-body />
    </svg>
  </g>
</svg>